# Dependencies
**/node_modules/

# Build output
**/dist/

# Test output
**/coverage/

# Documentation output
**/documentation/

# Tool caches
apps/frontend/.angular/

# Tool logs
**/*.log

# macOS system files
**/.DS_Store
