# Dependencies
node_modules/
bun.lock
apps/*/node_modules/
apps/*/bun.lock

# Build output
apps/*/dist/

# Test output
apps/*/coverage/

# Tool caches
apps/*/.eslintcache
apps/*/*.tsbuildinfo
apps/frontend/.angular/

# Tool logs
**/*.log

# macOS system files
**/.DS_Store
