# dependencies
node_modules/
bun.lock
apps/*/node_modules/
apps/*/bun.lock

# build output
apps/*/dist/

# test output
apps/*/coverage/

# tool caches
apps/*/.eslintcache
apps/*/*.tsbuildinfo
apps/frontend/.angular/

# log files
**/*.log

# macOS system files
**/.DS_Store
