# Dependencies
**/node_modules/
**/bun.lock

# Build output
**/dist/

# Test output
**/coverage/
**/playwright/

# Documentation output
**/documentation/

# Tool caches
apps/frontend/.angular/

# Markup files
**/*.md

# IDE configs
.vscode/
