# Dependencies
node_modules/
bun.lock
apps/*/node_modules/
apps/*/bun.lock

# Build output
apps/*/dist/

# Test output
apps/*/coverage/

# Docs output
apps/*/documentation/

# Tool caches
apps/frontend/.angular/

# IDE configs
.vscode/
