import { render } from '@testing-library/angular';

import { <CustomComponent> } from './<custom>.component';

describe('<CustomComponent>', () => {
	let container: Element;

	beforeEach(async () => {
		const rendered = await render(<CustomComponent>);
		container = rendered.container;
	});

	it('should render the test <test> element', () => {
		const test = container.querySelector('test');
		expect(test).not.toBeNull();
	});
});
