import { ActivatedRouteSnapshot, RouterStateSnapshot } from '@angular/router';
import { TestBed } from '@angular/core/testing';
import { <FeatureGuard> } from './<feature>.guard';

describe('<FeatureGuard> Guard', () => {
  let guard: <FeatureGuard>;
  const mockRoute = {} as ActivatedRouteSnapshot;
  const mockState = {} as RouterStateSnapshot;

  beforeEach(() => {
    TestBed.configureTestingModule({
      providers: [<FeatureGuard>]
    });

    guard = TestBed.inject(<FeatureGuard>);
  });

  it('should allow navigation when valid', () => {
    const result = guard.canActivate(mockRoute, mockState);
    expect(result).toBeTrue(); // or `toBeTruthy()` / `await` if Promise-based
  });
});
