/* === Angular Material Theming === */
@use '@angular/material' as mat;

/* === Tailwind Core Styles === */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* === Tailwind Layers Fix for Material Compatibility === */
@layer base {
  html {
    @apply bg-white text-black;
  }
}

/* Test class */
.test-text {
  @apply text-3xl font-bold underline;
}

/* === Angular Material Theme Config === */
html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

/* === Global Resets === */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
